@import "tailwindcss";
@plugin "daisyui";

/* GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

/* GlobalStyles */
@theme {
  /* FontsVariables */
  --font-sora: "Sora", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* ColorsVariables */
  --color-e-football-nav-blue: #3132fe;
  --color-e-football-blue: #000096;
  --color-e-football-yellow: #ffff00;
  --color-e-football-pink: #ff0082;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-inter);
  background-image: url(./assets/images/efootball_bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer-links {
  list-style-type: square;
  padding-left: 1.5rem; /* Adjust as needed for spacing */
}

.nav-btn:active,
.nav-btn:focus-visible {
  background: none;
  outline: none;
  border: none;
}
